{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenTax hosted API",
    "version": "corpus 0.39.0 · engine proof schema 2",
    "description": "The OpenTax engine as a remote MCP server (Model Context Protocol, Streamable HTTP transport, JSON-RPC 2.0). One endpoint, POST https://opentax.invaro.ai/mcp. Every tool below is invoked with method `tools/call`; discover them at runtime with `tools/list`. Responses carry the corpus Merkle root so any answer can be re-derived offline. This document is GENERATED from the live server by packages/mcp/scripts/gen-openapi.mjs — the tool input schemas are the server's own zod schemas rendered as JSON Schema.",
    "x-corpus-merkle-root": "sha256:5f34e0bc2fe5d80f540b75151cc8793bca4bda4555485dfb0d313927938f1911",
    "x-generated": "2026-09-09T12:45:33.138Z"
  },
  "servers": [
    {
      "url": "https://opentax.invaro.ai",
      "description": "Hosted (Vercel, stateless)"
    }
  ],
  "security": [
    {},
    {
      "bearerKey": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "Optional evaluation API key: `Authorization: Bearer <key>`. Anonymous calls are accepted at a lower rate limit; a key attributes usage to an account."
      }
    },
    "responses": {
      "ToolResult": {
        "description": "JSON-RPC 2.0 result. `result.content[0].text` is a JSON string with `ok: true|false`; on success it carries the value(s), `assumptions`, `corpusMerkleRoot` and (for calculate_tax) the proof; on refusal `error: { code, message, data, hint }` with codes NEEDS_FACTS, NO_APPLICABLE_RULE, UNHANDLED_ENUM_CASE, or an input validation error.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "jsonrpc": {
                  "const": "2.0"
                },
                "id": {},
                "result": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "const": "text"
                          },
                          "text": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "isError": {
                      "type": "boolean"
                    }
                  }
                },
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/mcp": {
      "post": {
        "operationId": "jsonrpc",
        "summary": "MCP Streamable HTTP endpoint (initialize, tools/list, tools/call)",
        "description": "Stateless: send `initialize` once per client if your MCP library requires it, then `tools/list` and `tools/call`. Set `Accept: application/json, text/event-stream`. No session id is issued or required.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "const": "2.0"
                  },
                  "id": {},
                  "method": {
                    "type": "string",
                    "enum": [
                      "initialize",
                      "notifications/initialized",
                      "tools/list",
                      "tools/call",
                      "ping"
                    ]
                  },
                  "params": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ToolResult"
          },
          "401": {
            "description": "An Authorization header was sent with an unknown key"
          },
          "429": {
            "description": "Rate limit exceeded for this IP or key"
          }
        }
      }
    },
    "/mcp#tools/call:calculate_tax": {
      "post": {
        "operationId": "calculate_tax",
        "summary": "calculate_tax",
        "description": "Compute US federal INDIVIDUAL income tax (or balance due if withholding is given) from a content-addressed corpus of cited rules. NEVER estimate tax yourself — call this, and report ONLY numbers returned by oracle calls made with the real facts (never hand-check or approximate a line the oracle can compute: your recalled parameters may be stale). Negative result = refund. Returns the answer, every assumption made, and hashes that let anyone re-verify the full derivation offline. Facts are grouped (filing, income, retirement, credits, …) — fill the groups that apply; unknown keys are rejected, and the engine names any missing fact the target needs. When source documents CONFLICT on a value, do not silently pick one: compute both branches, disclose the conflict and your choice; an interview/confirmation answer (rollover, conversion, taxable-amount screens) usually reflects taxpayer intent better than a payer form's box code — prefer it and disclose. That heuristic covers FACTS only: LEGAL classifications (qualifying child vs other dependent, filing status, SSTB) follow the statute's tests, not intake checkbox labels — a generic 'claim dependent credit' flag does not convert a qualifying child into an ODC dependent. TRANSCRIBE documented amounts as given even when they look anomalous (e.g. state withholding in a no-income-tax state): disclose the anomaly, never delete or 'correct' a documented number from outside knowledge. If you believe an oracle result is wrong, report the ORACLE's number and note your dissent — never substitute your own: the corpus is primary-source-verified and your recollection is not. Business entities → calculate_business_tax; estates/trusts → calculate_fiduciary_tax; § 152 dependency → determine_dependent.",
        "tags": [
          "tools"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method",
                  "params"
                ],
                "properties": {
                  "jsonrpc": {
                    "const": "2.0"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "method": {
                    "const": "tools/call"
                  },
                  "params": {
                    "type": "object",
                    "required": [
                      "name",
                      "arguments"
                    ],
                    "properties": {
                      "name": {
                        "const": "calculate_tax"
                      },
                      "arguments": {
                        "type": "object",
                        "properties": {
                          "filing": {
                            "type": "object",
                            "properties": {
                              "mfsConsideredUnmarried": {
                                "type": "boolean",
                                "description": "MFS filer meets the § 32(d)(2) separation requirements: a qualifying child lived with them for more than half the year, they furnished over half the cost of that household, AND either they are legally separated under a decree or the spouse was not a household member during the last 6 months of the year. Unlocks the EITC for an MFS filer (§ 32(d)(1)); without it MFS receives $0."
                              },
                              "mfsLivedApartAllYear": {
                                "type": "boolean",
                                "description": "MFS filer lived apart from the spouse AT ALL TIMES during the year — § 469(i)(5) (halves the special allowance to $12,500/$50,000; living together at any time = NO allowance) AND § 219(g)(4) (an MFS filer who lived apart all year is NOT treated as married for the IRA-deduction phaseout: the single ranges apply and no spousal-coverage attribution occurs) AND § 86(c)(1)(C)(ii) (the $0 social-security base amount applies only to an MFS filer who did NOT live apart all year; one who did uses the $25,000/$34,000 unmarried amounts)."
                              },
                              "filingStatus": {
                                "type": "string",
                                "enum": [
                                  "single",
                                  "mfj",
                                  "mfs",
                                  "hoh",
                                  "qss"
                                ],
                                "description": "Filing status (26 U.S.C. § 1, § 2). One of: single, mfj, mfs, hoh, qss."
                              },
                              "isAge65OrOlder": {
                                "type": "boolean",
                                "description": "Taxpayer attained age 65 before the close of the taxable year (26 U.S.C. § 63(f)(1))."
                              },
                              "isBlind": {
                                "type": "boolean",
                                "description": "Taxpayer is blind at the close of the taxable year (26 U.S.C. § 63(f)(2))."
                              },
                              "spouseIsAge65OrOlder": {
                                "type": "boolean",
                                "description": "Spouse attained age 65 before the close of the taxable year."
                              },
                              "spouseIsBlind": {
                                "type": "boolean",
                                "description": "Spouse is blind at the close of the taxable year."
                              },
                              "isClaimedAsDependent": {
                                "type": "boolean",
                                "description": "Taxpayer can be claimed as a dependent on another taxpayer's return (26 U.S.C. § 63(c)(5))."
                              },
                              "isFullTimeStudent": {
                                "type": "boolean",
                                "description": "Taxpayer is a full-time student (§ 152(f)(2)) — denies saver's-credit eligibility (§ 25B(c)(2)(B))."
                              },
                              "spouseIsFullTimeStudent": {
                                "type": "boolean",
                                "description": "Spouse is a full-time student (§ 152(f)(2)) — denies the spouse's saver's-credit eligibility (§ 25B(c)(2)(B))."
                              },
                              "isAtLeastAge25": {
                                "type": "boolean",
                                "description": "Taxpayer attained age 25 before the close of the taxable year (26 U.S.C. § 32(c)(1)(A)(ii)(II), childless EITC age floor)."
                              },
                              "spouseItemizes": {
                                "type": "boolean",
                                "description": "Spouse itemizes deductions on a separate return (26 U.S.C. § 63(c)(6)(A)) — if so, an MFS filer's standard deduction is zero."
                              },
                              "useFormulaMethod": {
                                "type": "boolean",
                                "description": "Compute with exact continuous formulas instead of the printed-form methods (analysis/comparison mode — filed returns use the forms). Affects: the IRS Tax Table below $100,000, the § 32(f) EIC Table ($50-bracket midpoints), Schedule SE's per-line whole-dollar rounding, and the state packs that print a table or worksheet (KS us.ks.income_tax, NM us.nm.income_tax — exact § 7-2-7 schedule instead of the midpoint table and the printed over-$100,000 worksheet)."
                              }
                            },
                            "additionalProperties": false,
                            "description": "who is filing: status, age/blindness, dependency, student status"
                          },
                          "income": {
                            "type": "object",
                            "properties": {
                              "alimonyReceivedPre2019": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Alimony/separate maintenance RECEIVED under a pre-2019 instrument — includible in gross income under pre-TCJA § 71. Post-2018-instrument alimony received is NOT federal income (exclude it here). In dollars."
                              },
                              "wages": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Wages, salaries, tips (Form W-2 box 1), in dollars (e.g. 50000 or \"1234.56\")."
                              },
                              "taxableInterest": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Taxable interest income, in dollars."
                              },
                              "taxExemptInterest": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Tax-exempt interest (e.g. municipal bonds, Form 1040 line 2a) — excluded from gross income but counted in the § 86 social-security provisional income and the § 36B premium-tax-credit MAGI. In dollars."
                              },
                              "longTermCapitalGains": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Net long-term capital gains plus qualified dividends (taxed at the § 1(h) preferential rates). Losses are out of scope. In dollars."
                              },
                              "qualifiedDividends": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Qualified dividends (Form 1099-DIV box 1b) as a STANDALONE fact — use this instead of folding them into longTermCapitalGains whenever a net capital LOSS also exists (dividends are not capital gains: the § 1211(b) loss offset never touches them, and they keep § 1(h) preferential rates). When there is no capital loss, folding qualified dividends into longTermCapitalGains remains equivalent and supported. In dollars."
                              },
                              "shortTermCapitalGains": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Net short-term capital gain after Schedule D netting, ordinary-rate (§ 1222(5)). Counts as § 32(i) disqualified investment income and § 1411 net investment income. Mutually exclusive with netCapitalLoss (provide the single NET Schedule D result: ST gain and/or LT gain, or a net loss — never both gain and loss). In dollars."
                              },
                              "ordinaryDividends": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Ordinary (non-qualified) dividends, taxed at ordinary rates — do NOT fold into otherOrdinaryIncome: dividends count as § 32(i) disqualified income and § 1411 net investment income (Form 1099-DIV box 1a minus box 1b). In dollars."
                              },
                              "netCapitalLoss": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Net capital LOSS for the year from Schedule D netting, entered as a positive number (26 U.S.C. § 1211(b): up to $3,000/$1,500 MFS against ordinary income; remainder carries over). Mutually exclusive with the gain facts AND with the per-bucket loss facts (shortTermCapitalLoss/longTermCapitalLoss) — this is the single OVERALL net result; for mixed years (gain in one bucket, loss in the other) use the per-bucket facts and the engine performs the § 1222 netting. In dollars."
                              },
                              "shortTermCapitalLoss": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Net short-term capital LOSS for the year (Schedule D line 7 when negative, entered positive). The ST bucket's single NET result — mutually exclusive with shortTermCapitalGains and with netCapitalLoss. Combine with longTermCapitalGains for mixed years: the engine performs the § 1222 cross-netting (a net ST loss first reduces net LT gain per § 1222(11); any overall loss is capped by § 1211(b)). In dollars."
                              },
                              "longTermCapitalLoss": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Net long-term capital LOSS for the year (Schedule D line 15 when negative, entered positive). The LT bucket's single NET result — mutually exclusive with longTermCapitalGains and with netCapitalLoss. Combine with shortTermCapitalGains for mixed years: the engine performs the § 1222 cross-netting (a net LT loss reduces the ordinary-rate net ST gain per § 1222(9); any overall loss is capped by § 1211(b)). In dollars."
                              },
                              "rentalDepreciableBasis": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Depreciable basis of residential rental BUILDING(S) — cost basis excluding land (land never depreciates, § 167; Pub 527 ch. 2). Drives the § 168 GDS 27.5-year straight-line mid-month depreciation (Pub 946 Table A-6). Set rentalPlacedInServiceMonth for a first-year property; leave it 0 for property in service the whole year. In dollars."
                              },
                              "rentalPlacedInServiceMonth": {
                                "anyOf": [
                                  {
                                    "type": "integer"
                                  },
                                  {
                                    "type": "string"
                                  }
                                ],
                                "description": "Month (1-12) the residential rental property was placed in service THIS tax year — first-year depreciation uses the § 168(d)(2) mid-month convention (Pub 946 Table A-6 row 1). 0 (the default) = placed in service in a PRIOR year: the steady-state 3.636% year applies."
                              },
                              "rentalIncomeBeforeDepreciation": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Schedule E rental result BEFORE depreciation: rents received minus cash operating expenses (management, repairs, insurance, taxes, mortgage interest…). The engine subtracts the computed § 168 depreciation to reach net rental income. Use scheduleENetIncome instead when you already have the after-depreciation net; the two inputs add (separate properties). In dollars."
                              },
                              "unemploymentCompensation": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Unemployment compensation (§ 85, fully includible). In dollars."
                              },
                              "otherOrdinaryIncome": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Other fully-includible ordinary income reported on Schedule 1 line 8 — gambling winnings (W-2G, line 8b), prizes and awards, Alaska Permanent Fund dividends (line 8g), jury duty pay, etc. (§ 61(a)). NOT earned income, NOT § 1411 net investment income, no SE tax. Do not enter income another fact covers. In dollars."
                              },
                              "socialSecurityWages": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "W-2 box 3 social security wages for the SE-tax OASDI wage-base coordination (Schedule SE line 8a). PER PERSON: Schedule SE belongs to ONE individual — on a joint return enter ONLY the SE-earner's own box 3, never the couple's sum (summing can wrongly zero the OASDI portion). Leave 0 to approximate with box 1 wages. In dollars."
                              },
                              "socialSecurityWagesProvided": {
                                "type": "boolean",
                                "description": "socialSecurityWages is an EXPLICIT figure for the self-employment earner — set it (with socialSecurityWages, even $0) when that person's own W-2 box 3 is known, so Schedule SE line 8a uses it instead of falling back to box-1 wages. The documents compiler sets it from W-2 recipients; a joint return where the SE earner has no W-2 needs it with socialSecurityWages 0 (us.federal.se_tax)."
                              },
                              "medicareWages": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "W-2 box 5 Medicare wages and tips — the Form 8959 Additional-Medicare-Tax base. Often HIGHER than box 1 (pre-tax 401(k) deferrals reduce box 1 but not box 5). Leave 0 to approximate with box 1 wages (understates the tax when box 5 > box 1 — disclosed). In dollars."
                              },
                              "foreignEarnedIncome": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Foreign earned income qualifying for the § 911 exclusion — ATTESTS a foreign tax home plus § 911(d)(1) qualification (bona fide residence for an entire taxable year, or 330 full days abroad in 12 months). Include these earnings in the wages/SE inputs too; the exclusion is computed and subtracted. The § 911(c) housing exclusion is not modeled. In dollars."
                              },
                              "otherEarnedIncome": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Form 1040 lines 1b-1h earned income NOT on a W-2 box 1 — taxable dependent care benefits (Form 2441 Part III, line 26 → line 1e), household employee wages without a W-2 (1b), unreported tips (1c), Medicaid waiver payments elected in (1d), nonqualified deferred compensation (1g). Added to wages (earned income); reported on line 1h. Allowed together with a documents block."
                              }
                            },
                            "additionalProperties": false,
                            "description": "wages, interest, capital gains, unemployment, foreign earned income"
                          },
                          "tips_overtime": {
                            "type": "object",
                            "properties": {
                              "qualifiedTips": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Qualified tips (26 U.S.C. § 224): voluntary tips received in an occupation on the Treasury tipped-occupation list, already included in wages. In dollars."
                              },
                              "occupation": {
                                "type": "string",
                                "description": "tipped occupation, fuzzy-matched to the Treasury Tipped Occupation list (Treas. Reg. § 1.224-1) — e.g. \"bartender\", \"nanny\" — or \"other\" if genuinely unlisted. Only needed when qualifiedTips > 0."
                              },
                              "tipsWereVoluntary": {
                                "type": "boolean",
                                "description": "Tips were paid voluntarily by customers, determined by the payor, and not subject to negotiation (§ 224; Treas. Reg. § 1.224-1). Mandatory service charges do NOT qualify."
                              },
                              "employerIsSSTB": {
                                "type": "boolean",
                                "description": "The tips were received in the course of an employer's specified service trade or business (§ 199A(d)(2)) — such tips are NOT qualified (§ 224)."
                              },
                              "qualifiedOvertimePremium": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Qualified overtime compensation (26 U.S.C. § 225): the FLSA § 7 premium portion in excess of the regular rate, already included in wages. In dollars."
                              }
                            },
                            "additionalProperties": false,
                            "description": "§ 224 tips and § 225 overtime deductions (OBBBA)"
                          },
                          "retirement": {
                            "type": "object",
                            "properties": {
                              "hsaDistributions": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "HSA distributions received (Form 1099-SA box 1, all accounts summed). The portion NOT spent on qualified medical expenses (hsaQualifiedMedicalExpenses) is gross income (§ 223(f)(2)) and draws the 20% additional tax (§ 223(f)(4)) unless hsaDistributionPenaltyExempt. In dollars."
                              },
                              "hsaQualifiedMedicalExpenses": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Unreimbursed qualified medical expenses paid from HSA distributions (Form 8889 line 15) — ONLY the amount the intake EXPLICITLY attests was spent on qualified medical expenses. Absent an explicit attestation, leave this 0 and the full distribution is taxable (§ 223(f)) — never assume qualified use from silence; the taxpayer bears the burden of substantiating qualified use. In dollars."
                              },
                              "hsaDistributionPenaltyExempt": {
                                "type": "boolean",
                                "description": "The § 223(f)(4)(B)-(C) exceptions apply to any taxable HSA distribution: made after age 65, after death, or attributable to disability — the 20% additional tax does not apply (the income inclusion still does)."
                              },
                              "socialSecurityBenefits": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Social security (and tier-1 railroad retirement) benefits received — box 5 of SSA-1099; includible per the § 86 0/50/85% formula. In dollars."
                              },
                              "taxableIraDistributions": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "TAXABLE IRA distributions (§ 408(d); Form 8606 basis already applied). When nondeductible-contribution basis exists, compute the taxable amount with the standalone target us.federal.ira8606.taxable_amount (per individual) and enter the result here. ROLLOVERS are excluded entirely: when an interview/confirmation field like 'distributions less rollovers' shows 0, the 1099-R was rolled over and contributes NOTHING here regardless of its box 2a or distribution code — payer forms cannot see 60-day rollovers. In dollars."
                              },
                              "taxablePensionsAndAnnuities": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "TAXABLE pensions and annuities (§ 72 exclusion ratio already applied — 1099-R box 2a). In dollars."
                              },
                              "earlyDistributionSubjectToPenalty": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "The portion of retirement distributions subject to the § 72(t) 10% additional tax — enter only the amount to which NO exception (59½, disability, SEPP, first home, § 72(t)(2)) applies. In dollars."
                              },
                              "pensionGrossPayments": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "TOTAL pension/annuity payments received this year from a qualified-plan annuity with after-tax cost basis (1099-R box 1) — the § 72(d) Simplified Method computes the taxable part. Use taxablePensionsAndAnnuities instead (or additionally, for other pensions) when the taxable amount is already known. In dollars."
                              },
                              "pensionCostBasis": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Investment in the contract as of the annuity starting date — employee after-tax contributions (1099-R box 9b). The § 72(d)(1)(B) monthly exclusion is this divided by the anticipated-payments table number; lifetime recovery is capped at this amount. In dollars."
                              },
                              "pensionAgeAtStart": {
                                "anyOf": [
                                  {
                                    "type": "integer"
                                  },
                                  {
                                    "type": "string"
                                  }
                                ],
                                "description": "Primary annuitant's age at the ANNUITY STARTING DATE (not current age) — picks the § 72(d)(1)(B)(iii) single-life anticipated-payments band (≤55: 360, 56-60: 310, 61-65: 260, 66-70: 210, 71+: 160). Required when pensionCostBasis is set and the annuity is single-life."
                              },
                              "pensionIsJointAndSurvivor": {
                                "type": "boolean",
                                "description": "True for an annuity payable over more than one life with a starting date after 1997 — the § 72(d)(1)(B)(iv) COMBINED-ages table applies (set pensionCombinedAgesAtStart)."
                              },
                              "pensionCombinedAgesAtStart": {
                                "anyOf": [
                                  {
                                    "type": "integer"
                                  },
                                  {
                                    "type": "string"
                                  }
                                ],
                                "description": "Combined ages of both annuitants at the annuity starting date, for joint-and-survivor annuities (§ 72(d)(1)(B)(iv): ≤110: 410, 111-120: 360, 121-130: 310, 131-140: 260, 141+: 210)."
                              },
                              "pensionMonthsThisYear": {
                                "anyOf": [
                                  {
                                    "type": "integer"
                                  },
                                  {
                                    "type": "string"
                                  }
                                ],
                                "description": "Number of monthly annuity payments received this tax year (Simplified Method Worksheet line 4 multiplier). 12 for a full year."
                              },
                              "pensionBasisPreviouslyRecovered": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Cost basis already recovered tax-free in prior years (Simplified Method Worksheet line 6) — lifetime recovery cannot exceed pensionCostBasis for post-1986 starting dates. In dollars."
                              },
                              "ira8606Basis": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Form 8606 line 2: this individual's total basis in traditional IRAs from earlier years (the most recent prior Form 8606 line 14). PER INDIVIDUAL — spouses file separate Forms 8606; run the ira8606 target once per spouse. In dollars."
                              },
                              "ira8606NondeductibleContributions": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Form 8606 line 1: nondeductible traditional IRA contributions FOR this year, including those made through the following April 15 (the line 4 timing split is not modeled — enter the full year's amount). In dollars."
                              },
                              "ira8606YearEndValue": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Form 8606 line 6: value of ALL this individual's traditional, SEP, and SIMPLE IRAs as of December 31, plus any outstanding rollovers (§ 408(d)(2)(C)). In dollars."
                              },
                              "ira8606Distributions": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Form 8606 line 7: this year's distributions from this individual's traditional/SEP/SIMPLE IRAs, EXCLUDING rollovers, Roth conversions, qualified charitable distributions, and returned contributions (exclusions attested by the input). In dollars."
                              },
                              "ira8606Conversions": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Form 8606 line 8: net amount this individual converted from traditional/SEP/SIMPLE IRAs to Roth IRAs this year. In dollars."
                              }
                            },
                            "additionalProperties": false,
                            "description": "social security, IRA/pension distributions, early-distribution penalty"
                          },
                          "self_employment": {
                            "type": "object",
                            "properties": {
                              "selfEmploymentNetProfit": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Net profit from self-employment (Schedule C line 31: gross receipts minus ACTUAL Schedule C expenses). Do NOT subtract intake fields like 'W-2 Wages Paid' that exist for the § 199A wage limit — those belong in qbiW2Wages, not here. A loss year goes in scheduleCNetLoss instead (leave this at 0). GROSS-RECEIPTS COMPOSITION: the intake's own gross-receipts field PLUS every 1099-NEC and 1099-K nested under (or issued to) the business PLUS any 1099-MISC box 3 'other income' issued to a filer who operates a Schedule C business (a payer's MISC box-3 payment to an active sole proprietor is business income, not Schedule 1 line 8z) — 1099-MISC box 1 rents belong on Schedule E, never here. A 1099 whose recipient TIN matches NEITHER spouse is not this return's income: exclude it and disclose. PLACEHOLDER/TEMPLATE DOCUMENTS: a 1099 whose payer block is an unfilled template — no payer name, address line 'City, AK 99999' or a similar all-9s placeholder — is an inactive template document, not income: exclude every box on it (income AND withholding) and disclose; a 1099 from a NAMED payer at a real-looking address is live data even when the structured intake has no matching entry. In dollars."
                              },
                              "scheduleCNetLoss": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Schedule C/F net LOSS for the year as a POSITIVE number (gross receipts minus ACTUAL expenses is negative; § 165(c)(1) trade-or-business loss). Reduces gross income AND § 32(c)(2) earned income (EITC/ACTC); no SE tax attaches to a loss year. Schedule C ONLY — Schedule E losses belong in nonpassiveScheduleELoss or the passive facts. A 'loss' that exists only because the intake's 'W-2 Wages Paid' field was subtracted is a misreading (that field is qbiW2Wages, never an expense). Gross-receipts composition follows selfEmploymentNetProfit's convention (intake receipts + nested 1099-NEC/K + 1099-MISC box 3 issued to the proprietor; MISC box 1 rents → Schedule E; TIN-mismatched 1099s excluded with disclosure). If QBI-flagged, also enter the same amount in qbiLossOffset. In dollars."
                              },
                              "k1OrdinaryBusinessIncome": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Ordinary business income from a partnership or S corporation Schedule K-1 (box 1) in which the taxpayer MATERIALLY participates — QBI-eligible (§ 199A) but not subject to SE tax or payroll tax (an S-corp shareholder's share, or a non-SE partnership allocation; a general partner's SE-taxable share belongs in selfEmploymentNetProfit instead). Material participation keeps it out of § 1411 net investment income — disclosed. Losses out of scope. In dollars."
                              },
                              "qbiW2Wages": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "W-2 wages PAID BY the qualified trade or business, allocable to QBI (§ 199A(b)(4)) — drives the above-threshold wage limit. Intake forms often label this 'W-2 Wages Paid' under the business section: it is a § 199A LIMIT input, NOT a Schedule C expense — never subtract it from selfEmploymentNetProfit. Defaults to $0, which can only understate the deduction (conservative). In dollars."
                              },
                              "qbiUBIA": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Unadjusted basis immediately after acquisition of the business's qualified property (§ 199A(b)(6)) — the 2.5% prong of the wage limit. Defaults to $0 (conservative). In dollars."
                              },
                              "businessIsSSTB": {
                                "type": "boolean",
                                "description": "The trade or business is a specified service trade or business (§ 199A(d)(2): health, law, accounting, consulting, financial services, athletics, performing arts, …) — above the threshold an SSTB's deduction phases to zero."
                              },
                              "sepContribution": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Employer contribution to the self-employed taxpayer's own SEP-IRA or solo-401(k) profit-sharing (§ 404(h): up to 20% of net SE earnings after ½ SE tax, capped at the § 415(c) limit — $70,000 for 2025, $72,000 for 2026). In dollars. DEDUCTIBLE-LIMIT CONVENTION: when a documented SEP/Keogh contribution exceeds the limit, the deducted amount = 20% × (0.9235 × total Schedule C net profit − the ½-SE-tax deduction), rounded half-up — the § 401(c)(2)/§ 1402(a)(12) reading that applies BOTH the 92.35% factor AND the ½-SE subtraction. (Note: Pub. 560's worksheet applies only the ½-SE subtraction; this engine follows the statutory § 1402(a)(12) reduction.) Pass the documented contribution and apply this cap when self-computing the Schedule 1 line 16 amount."
                              },
                              "selfEmployedHealthPremiums": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Health insurance premiums paid by a self-employed taxpayer for themselves, spouse, and dependents (§ 162(l)) — deductible up to the business's earned income; no employer-subsidized coverage available (assumed, disclosed). In dollars."
                              },
                              "homeOfficeSquareFeet": {
                                "anyOf": [
                                  {
                                    "type": "integer"
                                  },
                                  {
                                    "type": "string"
                                  }
                                ],
                                "description": "Square footage of the home used regularly and exclusively for business (§ 280A(c)(1) tests attested) — for the Rev. Proc. 2013-13 simplified method ($5/sq ft, 300 sq ft cap), exposed as a standalone target."
                              },
                              "businessMilesDriven": {
                                "anyOf": [
                                  {
                                    "type": "integer"
                                  },
                                  {
                                    "type": "string"
                                  }
                                ],
                                "description": "Business miles driven for the optional standard mileage rate (70¢/mile for 2025 per Notice 2025-5; 72.5¢/mile for 2026 per Notice 2026-10) — the standalone target us.federal.vehicle_standard_mileage computes the deduction; subtract it from your Schedule C profit yourself."
                              },
                              "aggregateBusinessLoss": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "The noncorporate taxpayer's net aggregate business LOSS for the year, entered as a positive number (§ 461(l): the excess over $313k/$626k in 2025, $256k/$512k in 2026, is disallowed and becomes an NOL). In dollars."
                              }
                            },
                            "additionalProperties": false,
                            "description": "Schedule C / K-1, QBI inputs, SE deductions, home office"
                          },
                          "adjustments": {
                            "type": "object",
                            "properties": {
                              "alimonyPaidPre2019": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Alimony/separate maintenance PAID under an instrument executed BEFORE 2019 (and not modified to adopt TCJA treatment) — deductible above the line under pre-TCJA § 215/§ 62(a)(10). Post-2018-instrument alimony is NOT deductible federally (do not enter it here; note some states, e.g. NY, decoupled). In dollars."
                              },
                              "spouseEducatorExpenses": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "SPOUSE's eligible educator classroom expenses (§ 62(a)(2)(D)) — separately capped at $300 for 2025 (per-educator cap; an MFJ couple of two educators deducts up to $600 total). In dollars."
                              },
                              "iraContribution": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Traditional IRA contributions for the year (26 U.S.C. § 219). Roth contributions are not deductible and do not belong here. In dollars. GATE-vs-DOLLAR: an intake screener like 'Made contributions to a traditional or Roth IRA = false' does NOT nullify a populated traditional-IRA dollar field — IRA contributions are a DEDUCTION item, so the documented dollar controls (transcribe it; any § 219(g) phase-out still applies, including the § 219(g)(4) lived-apart-all-year MFS carve-out). The boolean-gate-controls rule is for PAYMENT fields only."
                              },
                              "isActivePlanParticipant": {
                                "type": "boolean",
                                "description": "Taxpayer is an active participant in an employer retirement plan (W-2 box 13 'Retirement plan') — triggers the § 219(g) deduction phase-out."
                              },
                              "spouseIsActivePlanParticipant": {
                                "type": "boolean",
                                "description": "Spouse is an active participant in an employer retirement plan (§ 219(g)(7) spousal phase-out)."
                              },
                              "isAge50OrOlder": {
                                "type": "boolean",
                                "description": "Taxpayer attained age 50 before the close of the taxable year (IRA catch-up, § 219(b)(5)(B))."
                              },
                              "hsaContribution": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Personal HSA contributions (not through payroll) under 26 U.S.C. § 223; HDHP coverage assumed. In dollars."
                              },
                              "hsaCoverage": {
                                "type": "string",
                                "enum": [
                                  "self",
                                  "family"
                                ],
                                "description": "HDHP coverage type for HSA limits (§ 223(b)(2))."
                              },
                              "isAge55OrOlder": {
                                "type": "boolean",
                                "description": "Taxpayer is 55 or older (HSA catch-up contribution, § 223(b)(3))."
                              },
                              "studentLoanInterest": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Interest paid on qualified education loans (26 U.S.C. § 221). In dollars."
                              },
                              "carLoanInterest": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Interest paid on a qualified passenger vehicle loan (26 U.S.C. § 163(h)(4)): new US-assembled personal-use vehicle purchased after 2024. In dollars."
                              },
                              "educatorExpenses": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "TAXPAYER's eligible educator classroom expenses (§ 62(a)(2)(D)) — capped at $300 for 2025 (indexed). K-12 teachers/counselors/aides with 900+ hours (attested). A spouse who is ALSO an eligible educator gets a separate $300 cap: put the spouse's expenses in spouseEducatorExpenses, never summed here. In dollars."
                              },
                              "earlyWithdrawalPenaltyPaid": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Penalty on early withdrawal of savings (1099-INT box 2 / 1099-OID box 3) — deductible above the line in full (§ 62(a)(9); Schedule 1 line 18). In dollars."
                              },
                              "otherAdjustments": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Other above-the-line adjustments from Schedule 1 lines 24a-24z, ATTESTED as the documented total: jury duty pay given to the employer (24a), reforestation amortization (24d), § 3402 supplemental-unemployment repayments (24e), § 501(c)(18)(D) pension contributions (24f, W-2 box 12 code H), attorney fees for unlawful-discrimination claims (24h) and IRS whistleblower awards (24i), and similar write-in adjustments. Enter the SUM of the documented amounts — each is deductible in full; never fold these into income as negative amounts. In dollars."
                              }
                            },
                            "additionalProperties": false,
                            "description": "IRA/HSA contributions, student-loan and car-loan interest"
                          },
                          "itemized": {
                            "type": "object",
                            "properties": {
                              "stateAndLocalTaxesPaid": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "State and local taxes paid that Schedule A can count (26 U.S.C. § 164(a)): state/local income (or elected general sales) taxes plus real and personal property taxes, personal portion only. Subject to the OBBBA § 164(b)(6) cap. In dollars."
                              },
                              "mortgageInterestPaid": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Home mortgage interest paid on acquisition debt secured by a qualified residence (26 U.S.C. § 163(h)(3)); post-Dec-15-2017 origination assumed. In dollars."
                              },
                              "mortgageAverageBalance": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Average balance of home acquisition debt for the year (Publication 936 method) — interest is prorated when this exceeds the $750,000 ($375,000 MFS) limit of § 163(h)(3)."
                              },
                              "medicalExpenses": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Unreimbursed medical and dental care expenses (26 U.S.C. § 213) — deductible over 7.5% of AGI when itemizing. In dollars."
                              },
                              "charitableCashContributions": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Cash contributions to qualifying charities (26 U.S.C. § 170(p); DAFs and certain private foundations excluded). In dollars."
                              },
                              "noncashCharitableContributions": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Noncash charitable contributions deductible this year (§ 170, Form 8283) — the 20/30/50%-of-AGI property limits and appraisal requirements are ATTESTED by the input (enter the allowed amount, INCLUDING prior-year carryovers used this year). Itemized-only; does not qualify for § 170(p). In dollars."
                              },
                              "investmentInterestDeduction": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Investment interest expense DEDUCTIBLE this year (§ 163(d), Form 4952 line 8) — AFTER the net-investment-income limit and any § 163(d)(4)(B) election, which are attested by the input (the engine does not run Form 4952). RUN THE LIMIT FIRST: with no net investment income (taxable interest + ordinary dividends + elected gains), the deductible amount is $0 and the whole expense carries forward — enter 0, not the amount paid. An itemized deduction; excess carries forward outside this corpus. If an election treated capital gain as investment income, also move that amount from longTermCapitalGains to otherOrdinaryIncome yourself. In dollars."
                              },
                              "gamblingLossesItemized": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Gambling losses deductible as an itemized deduction (§ 165(d), Schedule A line 16) — LIMITED TO GAMBLING WINNINGS included in income: enter min(losses paid, winnings reported), attested by the input (the engine does not track the per-session limit). TY2025: the full limited amount deducts; the OBBBA 90%-of-losses haircut (§ 165(d) as amended) applies only to taxable years beginning after 12/31/2025. Itemized-only; never reduces winnings directly. In dollars."
                              },
                              "otherItemizedDeductions": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Other itemized deductions (Schedule A line 16, attested): impairment-related work expenses of a disabled individual (§ 67(d) — NOT subject to the suspended 2% floor), federal estate tax on income in respect of a decedent, amortizable bond premium, and the other line-16 write-ins. Gambling losses have their own fact (gamblingLossesItemized). Enter the documented total — deductible in full. In dollars."
                              },
                              "casualtyFederalDisasterLosses": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Personal casualty losses attributable to FEDERALLY DECLARED disasters that are NOT qualified disaster losses (§ 165(h)(5)): the SUM over events of max(0, min(FMV decline, adjusted basis) − insurance − $100 per casualty) — the per-event Form 4684 lines 1–11 arithmetic is attested by the input. The 10%-of-AGI floor (§ 165(h)(2)) is applied by the engine; deductible only when itemizing. Non-declared personal casualty losses are nondeductible — do not enter them. In dollars."
                              },
                              "casualtyQualifiedDisasterLosses": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Net QUALIFIED disaster losses (Form 4684 line 15): the SUM over qualified-disaster events of max(0, min(FMV decline, adjusted basis) − insurance − $500 per casualty) — per-event arithmetic attested. NOT subject to the 10%-of-AGI floor, and allowed even WITHOUT itemizing by increasing the standard deduction (2025 Form 4684 instructions). In dollars."
                              },
                              "forceItemized": {
                                "type": "boolean",
                                "description": "Force the § 63(e) election to itemize even when the standard deduction (plus § 170(p)) is larger — e.g. an MFS filer coordinating with an itemizing spouse, or an explicit client instruction. Default false = the engine takes the larger bundle automatically."
                              }
                            },
                            "additionalProperties": false,
                            "description": "Schedule A: SALT, mortgage, medical, charitable"
                          },
                          "credits": {
                            "type": "object",
                            "properties": {
                              "qualifyingChildren": {
                                "anyOf": [
                                  {
                                    "type": "integer"
                                  },
                                  {
                                    "type": "string"
                                  }
                                ],
                                "description": "Number of qualifying children under age 17 with required SSNs (26 U.S.C. § 24(c), (h)(7))."
                              },
                              "otherDependents": {
                                "anyOf": [
                                  {
                                    "type": "integer"
                                  },
                                  {
                                    "type": "string"
                                  }
                                ],
                                "description": "Number of dependents (§ 152) OTHER than CTC qualifying children — e.g. children 17+, college students, parents — for the $500 credit for other dependents (§ 24(h)(4)); includes qualifying children without the required SSN (§ 24(h)(4)(C))."
                              },
                              "dependentCareExpenses": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Employment-related dependent care expenses paid (§ 21(b)(2)), NET of any § 129 dependent-care FSA exclusion. Enter only expenses enabling gainful employment for the care of a qualifying individual — attested. In dollars."
                              },
                              "careQualifyingIndividuals": {
                                "anyOf": [
                                  {
                                    "type": "integer"
                                  },
                                  {
                                    "type": "string"
                                  }
                                ],
                                "description": "Number of § 21(b)(1) qualifying individuals for the child and dependent care credit: a dependent under age 13, or a dependent/spouse physically or mentally incapable of self-care living with the taxpayer over half the year."
                              },
                              "secondaryEarnedIncome": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "On a JOINT return: the LOWER-earning spouse's earned income, for the § 21(d)(1)(B) expense limit (the credit cannot exceed either spouse's earned income). The § 21(d)(2) deemed income for a student/incapacitated spouse ($250/$500 per month) is not modeled. In dollars."
                              },
                              "saversContributions": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "The taxpayer's qualified retirement savings contributions for § 25B (elective deferrals, IRA contributions, ABLE contributions), NET of § 25B(d)(2) testing-period distributions — attested. Capped at $2,000 per individual by the rule. In dollars."
                              },
                              "saversContributionsSpouse": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "The spouse's qualified retirement savings contributions for § 25B on a joint return, net of testing-period distributions. In dollars."
                              },
                              "qualifiedAdoptionExpenses": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Qualified adoption expenses paid for a finalized adoption (§ 23(d)(1): reasonable adoption fees, court costs, attorney fees — not for adopting a spouse's child). The multi-year expense-timing rules of § 23(a)(2) are attested by entering the creditable year's amount. In dollars."
                              },
                              "adoptionIsSpecialNeeds": {
                                "type": "boolean",
                                "description": "The adoption is of a child with special needs, finalized this year (§ 23(a)(3), incl. determinations by Indian tribal governments per OBBBA § 70403) — the maximum credit is deemed paid regardless of actual expenses."
                              },
                              "aotcExpensesStudent1": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Qualified tuition and related expenses for the FIRST eligible student (26 U.S.C. § 25A(b)) — half-time enrollment in one of the first 4 postsecondary years, no 4 prior AOTC claims, no felony drug conviction, and SSN/EIN requirements assumed satisfied. In dollars."
                              },
                              "aotcExpensesStudent2": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Qualified expenses for a SECOND eligible AOTC student, if any (same § 25A(b) conditions assumed). In dollars."
                              },
                              "aotcExpensesStudent3": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Qualified expenses for a THIRD eligible AOTC student, if any (same § 25A(b) conditions assumed; a fourth simultaneous student is not representable). In dollars."
                              },
                              "llcQualifiedExpenses": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Qualified tuition and related expenses for the Lifetime Learning Credit (26 U.S.C. § 25A(c)) — per return, and not the same expenses claimed for the AOTC (§ 25A(c)(2)(A)). In dollars."
                              },
                              "eitcAdditionalQualifyingChildren": {
                                "anyOf": [
                                  {
                                    "type": "integer"
                                  },
                                  {
                                    "type": "string"
                                  }
                                ],
                                "description": "EIC qualifying children NOT already counted in qualifyingChildren — § 32(c)(3) uses the § 152(c) age rules (under 19, under 24 if a full-time student, or ANY age if permanently and totally disabled), which are wider than the CTC's under-17 cut. A 17-year-old, a 20-year-old student, or a disabled adult child goes here. Counted only for the earned income credit."
                              },
                              "isRetiredOnTotalDisability": {
                                "type": "boolean",
                                "description": "Retired on permanent and total disability (§ 22(e)(3)) — a § 22(b) qualified individual even under age 65. Set this whenever the taxpayer is documented as retired on permanent and total disability. The physician's statement (Schedule R Part II) is a KEEP-FOR-RECORDS substantiation requirement, not filed with the return — an intake answer that no statement is on file yet does NOT zero the credit; disclose the substantiation gap instead."
                              },
                              "scheduleRDisabilityIncome": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Taxable disability income under §§ 72/105(a) (e.g. a code-3 1099-R reported as wages before minimum retirement age) — caps the § 22(c)(2) initial amount for an under-65 disabled individual. In dollars."
                              },
                              "nontaxableBenefitsForScheduleR": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Nontaxable social security, railroad retirement, VA pensions and other excluded disability benefits (§ 22(c)(3)) — reduce the § 22 amount dollar-for-dollar. In dollars."
                              }
                            },
                            "additionalProperties": false,
                            "description": "CTC/ODC counts, dependent care, saver's, adoption, education"
                          },
                          "healthcare_ptc": {
                            "type": "object",
                            "properties": {
                              "mfsAbuseOrAbandonmentException": {
                                "type": "boolean",
                                "description": "MFS filer qualifies for the Reg. § 1.36B-2(b)(2) domestic-abuse or spousal-abandonment exception (attested on Form 8962 by checking the 'relief' box) — the § 36B(c)(1)(C) joint-filing requirement is waived and the premium tax credit computes normally; excess-APTC repayment is then subject to the ordinary § 36B(f)(2)(B) caps. Available for at most 3 consecutive years."
                              },
                              "slcspAnnualPremium": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Annual premium of the second-lowest-cost silver plan (SLCSP) benchmark for the taxpayer's coverage family (Form 1095-A line 33B) — the § 36B(b)(3)(B) applicable benchmark. Leave 0 if no Marketplace coverage. In dollars."
                              },
                              "marketplacePremiumsPaid": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Annual premiums for the Marketplace qualified health plan(s) actually enrolled in (Form 1095-A line 33A) — the § 36B(b)(2)(A) ceiling on the premium assistance amount. In dollars."
                              },
                              "advancePTC": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Advance premium tax credit payments made to the insurer during the year (Form 1095-A line 33C) — reconciled under § 36B(f). MFS RECONCILIATION (§ 36B(c)(1)(C)): an MFS filer with no domestic-abuse/abandonment exception is NOT an applicable taxpayer — PTC = $0 and ALL advance payments are additional tax (Schedule 2 line 2; if the PTC targets refuse the MFS case, add the repayment to line 17 yourself and disclose). The Form 8962 line 28 repayment limitation applies ONLY when household income is under 400% FPL (Table 5 amounts by filing status); at 400% or more line 28 is blank — repayment is UNCAPPED (2025 Form 8962 instructions, verified). In dollars."
                              },
                              "ptcHouseholdSize": {
                                "anyOf": [
                                  {
                                    "type": "integer"
                                  },
                                  {
                                    "type": "string"
                                  }
                                ],
                                "description": "Tax family size for the § 36B poverty-line lookup (§ 36B(d)(1): the taxpayer, spouse on a joint return, and dependents). Required when claiming the premium tax credit."
                              }
                            },
                            "additionalProperties": false,
                            "description": "§ 36B premium tax credit / Form 1095-A reconciliation"
                          },
                          "kiddie_tax": {
                            "type": "object",
                            "properties": {
                              "isSubjectToKiddieTax": {
                                "type": "boolean",
                                "description": "Taxpayer is a child to whom 26 U.S.C. § 1(g) applies (under 18, or 18 / full-time student under 24 with earned income ≤ half their support, a living parent, no joint return). Triggers the Form 8615 tax and denies the refundable AOTC (§ 25A(i))."
                              },
                              "parentTaxableIncome": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "The parent's taxable income (Form 8615 line 6) — needed to compute the allocable parental tax at the parent's rates (§ 1(g)(3))."
                              },
                              "parentFilingStatus": {
                                "type": "string",
                                "enum": [
                                  "single",
                                  "mfj",
                                  "mfs",
                                  "hoh",
                                  "qss"
                                ],
                                "description": "The parent's filing status for the Form 8615 recomputation (§ 1(g))."
                              },
                              "parentHasPreferentialIncome": {
                                "type": "boolean",
                                "description": "The parent's taxable income includes net capital gain or qualified dividends (preferential rates) — the Form 8615 recomputation then needs the parent's QDCGT worksheet, which is not modeled (refuses)."
                              }
                            },
                            "additionalProperties": false,
                            "description": "Form 8615 inputs for a child subject to § 1(g)"
                          },
                          "investor_amt": {
                            "type": "object",
                            "properties": {
                              "amtIsoExerciseSpread": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Bargain element on incentive stock options exercised and NOT sold in the same year (§ 56(b)(3) AMT adjustment). In dollars."
                              },
                              "amtOtherPreferences": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Other Form 6251 Part I adjustments and preferences: tax-exempt private-activity-bond interest, depreciation adjustments, depletion, intangible drilling costs, etc. In dollars."
                              },
                              "niitInvestmentExpenses": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Deductions properly allocable to investment income for the § 1411 net investment income tax (Form 8960 lines 9–10: investment interest expense, allocable state income tax, and other modifications). Subtracted from gross investment income. COORDINATION: if you applied a § 163(d)(4)(B) election by moving elected capital gain from longTermCapitalGains to otherOrdinaryIncome, that gain already left the NII base — do NOT also enter the matching investment interest here (it would double-reduce NII). In dollars."
                              },
                              "qsbsGain": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Gain on a sale of qualified small business stock (§ 1202) — original issuance, active-business, and gross-asset tests assumed satisfied (disclosed). In dollars."
                              },
                              "qsbsAcquiredAfterJuly2025": {
                                "type": "boolean",
                                "description": "The stock was acquired AFTER July 4, 2025 (the OBBBA tiered regime: 50/75/100% at 3/4/5 years, $15M cap) rather than under prior law ($10M cap, 100% at 5 years)."
                              },
                              "qsbsAcquiredAfterSept2010": {
                                "type": "boolean",
                                "description": "For prior-law stock: acquired after September 27, 2010 (the 100%-exclusion vintage; earlier vintages refuse)."
                              },
                              "qsbsHoldingPeriodYears": {
                                "anyOf": [
                                  {
                                    "type": "integer"
                                  },
                                  {
                                    "type": "string"
                                  }
                                ],
                                "description": "Whole years the QSBS was held before the sale (§ 1202(a)/(b) holding tiers)."
                              }
                            },
                            "additionalProperties": false,
                            "description": "AMT preferences (ISO spread) and § 1202 QSBS exclusion"
                          },
                          "rentals_passive": {
                            "type": "object",
                            "properties": {
                              "scheduleENetIncome": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Net Schedule E rental/royalty income AFTER § 469 netting (compute allowed passive losses with the standalone target us.federal.passive_loss_allowed, then enter the net POSITIVE result here) that is NOT QBI-eligible. NONPASSIVE Schedule E losses (§ 469(c)(7) real-estate professional) are not enterable here: net them against k1OrdinaryBusinessIncome when QBI-eligible (they reduce the QBI base too), else disclose a wage-substitution workaround and keep medicareWages/socialSecurityWages at their true W-2 values — QBI-eligible pass-through income belongs in k1OrdinaryBusinessIncome instead. Treated as ordinary income with no SE tax; NOT counted as § 1411 investment income by this corpus (nonpassive/self-rental character attested — passive rental income that IS investment income would be missed by the NIIT rule: disclosed limitation). In dollars."
                              },
                              "passiveActivityIncome": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Net INCOME from passive activities this year (§ 469(c): rentals without real-estate-professional status, passive royalties, passive K-1 income) — absorbs passive losses dollar-for-dollar on Form 8582. Transcribe the TOTAL including any self-rental income items, and ALSO flag the self-rental subset in selfRentalNetIncome — the rule itself excludes that subset from the absorption pool (Reg. § 1.469-2(f)(6)); do not pre-net. For the standalone target us.federal.passive_loss_allowed. In dollars."
                              },
                              "selfRentalNetIncome": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "The SELF-RENTAL subset of passiveActivityIncome: net rental income items from property rented for use in a trade or business in which the taxpayer MATERIALLY participates (Reg. § 1.469-2(f)(6) recharacterizes each such item's net income as NOT from a passive activity, so it cannot absorb passive losses). Item by item, INCOME items only — a self-rented property that nets a LOSS stays passive (leave its loss in passiveActivityLosses; add nothing here for it). Report the income itself as nonpassive Schedule E income (k1OrdinaryBusinessIncome if QBI-eligible, else scheduleENetIncome); it is also OUT of net investment income for NIIT (Reg. § 1.1411-4(g)(6)(i) deems it ordinary-course). COMPOSING SCHEDULE E AFTERWARD: net the allowed passive loss against the QBI-flagged bucket FIRST — k1OrdinaryBusinessIncome = QBI-eligible income minus allowed QBI-flagged losses; only the non-QBI remainder goes in scheduleENetIncome (e.g. self-rental 10,000 QBI + royalty 2,000 non-QBI with 2,000 allowed QBI-flagged loss → k1 = 8,000, scheduleENetIncome = 2,000). In dollars."
                              },
                              "passiveActivityLosses": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Total passive-activity losses claimed this year as a POSITIVE number (current-year passive losses plus prior-year suspended carryovers being applied). For the standalone target us.federal.passive_loss_allowed. In dollars."
                              },
                              "rentalActiveParticipationLosses": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "The portion of passiveActivityLosses from rental real estate in which the taxpayer ACTIVELY PARTICIPATED (§ 469(i)(1) — a lower bar than material participation: bona fide management decisions with ≥10% ownership, attested). Only this portion can use the § 469(i) $25,000 special allowance. In dollars."
                              },
                              "nonpassiveScheduleELoss": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "NONPASSIVE Schedule E losses as a positive number (§ 469(c)(7) real-estate-professional rentals with material participation, or allowed § 469 losses not netted elsewhere) — subtracts from gross income. Schedule E ONLY: never route a Schedule C amount here. A Schedule C 'loss' that exists only because the intake's 'W-2 Wages Paid' field was subtracted is a misreading — that field is the § 199A wage-limit input (qbiW2Wages), never an expense; Schedule C profit = gross receipts minus ACTUAL Schedule C expenses. If the activity is QBI-flagged, also enter the same amount in qbiLossOffset. In dollars."
                              },
                              "qbiLossOffset": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "QBI-eligible LOSSES (positive number) from activities NOT in selfEmploymentNetProfit/k1OrdinaryBusinessIncome — e.g. an allowed nonpassive § 469(c)(7) rental loss flagged as QBI. Reduces the § 199A QBI base only (Reg. § 1.199A-1(d)(2)(iii)); enter the income-side effect via nonpassiveScheduleELoss. In dollars."
                              }
                            },
                            "additionalProperties": false,
                            "description": "Schedule E rentals/royalties + § 469 passive-loss netting (Form 8582 via us.federal.passive_loss_allowed)"
                          },
                          "state": {
                            "type": "object",
                            "properties": {
                              "stateTaxableIncome": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "STATE taxable income (e.g. CA Form 540 line 19, VA Form 760 line 15, IL net income line 11) — computed by the preparer under state law, then fed to the state tax targets (us.ca.income_tax, us.va.income_tax, us.il.income_tax) so the rate-schedule arithmetic is engine-pinned instead of recalled. In dollars. NM: PIT-1 line 17 (us.nm.income_tax)."
                              },
                              "hasChildUnderSix": {
                                "type": "boolean",
                                "description": "At least one qualifying child was under age six at year end — gates the California Young Child Tax Credit (R&TC § 17052.1, us.ca.yctc)."
                              },
                              "caRentedPrincipalResidence": {
                                "type": "boolean",
                                "description": "Rented (did not own) a principal residence in California for at least half of the tax year, was not claimed as a dependent, and the property was not exempt from California property tax — the eligibility gate for the California nonrefundable renter's credit (FTB 540, us.ca.renters_credit)."
                              },
                              "caAmti": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "California alternative minimum taxable income (Schedule P (540) Part I, line 17) — AGENT-COMPUTED per the R&TC §§ 17062(c)-(e), 17062.1 construction rules, then fed to the CA AMT target (us.ca.amt). CONSTRUCTION NOTES (disclose when composing this figure): California individual AMT is FROZEN to IRC §§ 55-59 as they read on January 1, 2015 (R&TC § 17062.1, re-enacted by SB 711, Stats. 2025 Ch. 231, WITHOUT moving the freeze forward, even though SB 711 rolled CA's general IRC conformity date to January 1, 2025 for other provisions). Starting from CA taxable income (Form 540 line 19), the STANDARD DEDUCTION IS ADDED BACK (R&TC § 17062(c)(1), denying § 56(b)(1)(E)). The ISO exercise spread follows § 56(b)(3) as modified by R&TC § 17062(c)(2) (plus the California Qualified Stock Option addback, R&TC § 17502). There is NO tax-exempt private-activity-bond-interest preference (R&TC § 17062(d) turns off § 57(a)(5)) and NO AMT foreign tax credit (R&TC § 17062(e) turns off § 59(a)). A taxpayer whose aggregate trade/business gross receipts are under $1,000,000 (a flat threshold, NOT doubled for MFJ) excludes ALL trade/business income, adjustments, and preferences from AMTI (R&TC § 17062(b)(4), the CA small-business AMTI exclusion). In dollars."
                              },
                              "caRegularTax": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "California 'regular tax' for the Schedule P (540) Part II tentative-minimum-tax comparison (R&TC § 17062(a)(2)) — the Form 540 line 31 tax as reduced by the exemption credits already claimed, i.e. the figure Schedule P's own worksheet calls the regular tax. The CA AMT target (us.ca.amt) computes AMT = max(0, TMT − this amount). In dollars."
                              },
                              "nyYonkersBase": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Yonkers resident surcharge base (2025 IT-201-I Yonkers worksheet, line m) — NOT the same as IT-201 line 46 ('Total New York State taxes'). It is line 46 MINUS a specific credit bundle: the Empire State child credit (IT-213 line 9) + real property tax credit (IT-214 line 20) + child/dependent care credit (IT-216 line 14) + earned income credit (IT-215 line 16) + noncustodial parent EIC (IT-209 line 32/42) + college tuition credit (IT-272 line 5/7) + IT-201 lines 69/69a + IT-201-ATT line 13 other credits, net of a STAR reconciliation add-back (Form IT-119 line 3) — agent-composed per the worksheet, then fed to us.ny.yonkers_surcharge (16.75% x this base, feeds IT-201 LINE 55, not line 54 which is MCTMT). Only relevant when IT-201 line 46 is more than $0 and the taxpayer was a Yonkers resident. In dollars."
                              },
                              "nyIt214Fagi": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Federal adjusted gross income for the NY IT-214 Real Property Tax Credit (Form IT-214 line 8) — gates AND buckets the flat Table A/Table B lookup (us.ny.it214). Over $18,000 disqualifies the credit entirely ('If line 8 is more than $18,000, stop; you do not qualify'). In dollars."
                              },
                              "nyIt214Eligible": {
                                "type": "boolean",
                                "description": "Attests the NY IT-214 NON-ARITHMETIC eligibility gates (2025 Form IT-214 Step 2, lines 1-6): full-year New York State resident; occupied the same residence 6 or more months; did NOT own real property with a market value over $85,000; NOT claimable as a dependent on another taxpayer's federal return; did NOT reside in public housing or a completely property-tax-exempt residence; nursing-home residency disclosed per the instructions. Does NOT include the arithmetic gates — the $18,000 FAGI cap, the $450 average-monthly-adjusted-rent test (printed line-12 percentage menu), and the line 18/19 comparison are all COMPUTED by us.ny.it214 from nyIt214Fagi/nyIt214TotalRent/nyIt214RentPercent/nyIt214MonthsPaid/nyIt214HomeownerTaxes."
                              },
                              "nyIt214TotalRent": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Form IT-214 line 11 (2025): total rent paid during the year for the qualifying NY residence, EXCLUDING any subsidized part of the rental charge. The engine applies the printed line-12 percentage menu (nyIt214RentPercent) and the $450 line-13 average-monthly test itself. In dollars."
                              },
                              "nyIt214RentPercent": {
                                "anyOf": [
                                  {
                                    "type": "integer"
                                  },
                                  {
                                    "type": "string"
                                  }
                                ],
                                "description": "Form IT-214 line 12 (2025) printed adjusted-rent percentage, chosen from the form's own menu by which charges the rent INCLUDES: heat+gas+electricity+furnishings+board → 50; heat+gas+electricity+furnishings → 75; heat+gas+electricity → 80; heat (or heat+gas) → 85; none of the above → 100. These are the only five values the printed form allows — never subtract actual utility dollar amounts."
                              },
                              "nyIt214MonthsPaid": {
                                "anyOf": [
                                  {
                                    "type": "integer"
                                  },
                                  {
                                    "type": "string"
                                  }
                                ],
                                "description": "Form IT-214 line 13 divisor (2025): the number of months rent was paid during the year (the printed instruction divides line 12 adjusted rent by this to get average monthly adjusted rent, tested against the $450 cap)."
                              },
                              "nyIt214HomeownerTaxes": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Form IT-214 line 17 (2025): homeowners' real property taxes paid during the year (line 15) plus special assessments (line 16) on the qualifying residence. A part-year owner/renter supplies both this and the rent facts; the engine sums both buckets into line 18. In dollars."
                              },
                              "nyIt216StateCredit": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "New York State child and dependent care credit as computed on Form IT-216, line 14 (2025) — qualified expenses (net of excluded W-2 box 10 dependent care benefits) x the federal line-10 decimal (FAGI-keyed, .35 down to .20) x the NYS line-13 limitation factor (NYAGI-keyed sawtooth; both tables quoted verbatim in us.ny.parameters). This is Worksheet 2 line 1 — the STARTING amount the NYC child and dependent care credit prorates (us.ny.nyc_cdcc). In dollars."
                              },
                              "nyIt216Under4Expenses": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Form IT-216 line 23 (2025): total qualified child/dependent care expenses paid for qualifying persons who were UNDER 4 years old on December 31 and listed on IT-216 line 3. Numerator of the Worksheet 2 line 4 proration ratio (us.ny.nyc_cdcc). Use the same gross/net basis as nyIt216TotalExpenses so the ratio is consistent. In dollars."
                              },
                              "nyIt216TotalExpenses": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "Form IT-216 line 3a total (2025): total qualified child/dependent care expenses for ALL qualifying persons. Denominator of the Worksheet 2 line 4 proration ratio (us.ny.nyc_cdcc); the ratio is capped at 100%. Use the same gross/net basis as nyIt216Under4Expenses. In dollars."
                              },
                              "paCompensationAdjustment": {
                                "type": [
                                  "number",
                                  "string"
                                ],
                                "description": "PA compensation adjustment: W-2 Box 16 total MINUS Box 1 total (PA taxes 401(k)/elective deferrals as compensation; active-duty pay outside PA and other exempt items reduce it). May be negative. Default 0 assumes Box 16 = Box 1. Taxable early retirement-plan/IRA distributions under PA's cost-recovery method also go here. In dollars."
                              },
                              "paUnreimbursedBusinessExpenses": {
                                "type": [
                                  "number",
                                  "string"
                                ],
[...]
